{% extends 'department/layout.html' %}

{% block title %}
    Employee
{% endblock %}

{% block button %}
    <a href="{% url 'employee_add' %}"><button type="button" class="my btn btn-success"> Add</button></a>
{% endblock %}


{% block content %}

<div class="div3">
        <table class="table_2" cellspacing="0">
            {% if employee %}
            <tr id="myline">
                <td>Employee</td><td>Department</td><td>Salary</td><td>Position</td><td>Date</td>
            </tr>

                {% for el in employee %}
                        <tr id="mysize">
                            <td style="font-family:Andale Mono, monospace, fantasy;font-size:25px;font-weight: 700;font-style: normal">{{ el.name }}</td>
                            <td>{{ el.dep }}</td>
                            <td>{{ el.salary }}</td>
                            <td>{{ el.position }}</td>
                            <td>{{ el.date }}</td>
                            <td width="3%"><a href="{% url 'employee-update' el.id %}"><i class="fas fa-pencil-alt"></i></a></td>
                            <td width="3%"><a href="{% url 'employee-delete' el.id %}"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                {% endfor %}
    {% else %}
            <span>No data</span>
     {% endif %}
        </table>
</div>
{% endblock %}