{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Vacation add</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'department/css/department.css' %}">
  </head>

  <body>
    <div class="layout_add">

      <form method="post">
        {% csrf_token %}
        <span id="add_time">{{ time }}</span>
        {{ form.name_vacation }}
        <input type="date" class="form-control" name="date1">
        <input type="date" class="form-control" name="date2">
        <span>{{ error }}</span>

        <a href="{% url 'vacation_home' %}">
            <button id="bt_cancel" type="button" class="btn btn-danger">Cancel</button>
        </a>

        <button id="bt_add" class="btn btn-success" type="submit">Add</button>
      </form>

    </div>
  </body>
</html>