{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Vacation add</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'department/css/department.css' %}">
    <script type="text/javascript" src="{% static 'department/js/time.js' %}"></script>
  </head>

  <body>
    <div class="layout_add">

      <form method="post">
        {% csrf_token %}
        <span class="add_time" id="current_date_time_block"></span>
        <p class="field_names">Employee: {{ form.name_vacation }}</p>
          {% for error in form.name_vacation.errors %}
              <p style="padding-right:3%">{{ error|escape }}</p>
          {% endfor %}
        <p class="field_names">Start: <input type="date" class="form-control" name="date1"></p>
          {% for error in form.date1.errors %}
              <p style="padding-right:3%">{{ error|escape }}</p>
          {% endfor %}
        <p class="field_names">End: <input type="date" class="form-control" name="date2"></p>
          {% for error in form.date2.errors %}
              <p style="padding-right:3%">{{ error|escape }}</p>
          {% endfor %}

        <a href="{% url 'vacation_home' %}">
            <button id="bt_cancel" type="button" class="btn btn-danger">Cancel</button>
        </a>

        <button id="bt_add" class="btn btn-success" type="submit">Add</button>
      </form>

    </div>
  </body>
</html>