{% extends 'department/layout.html' %}

{% block title %}
    Department
{% endblock %}
{% block button %}
<a href="{% url 'add' %}"><button type="button" class="my btn btn-success"> Add</button></a>
{% endblock %}

{% block content %}

<div class="div3">

        <table class="table_2" cellspacing="0">
            {% if department %}
            <tr id="myline">
                <td>Department</td><td>Salary</td><td>Amount</td>
            </tr>

                {% for el in department %}
                        <tr id="mysize">
                            <td style="font-family:font-family:Andale Mono, monospace, fantasy;font-size:25px;font-weight: 700;font-style: normal">{{ el.name }}</td>
                            <td>{{ salary }}</td>
                            <td>{{ el.name }}</td>
                            <td width="3%"><a href="{% url 'department-update' el.id %}"><i class="fas fa-pencil-alt"></i></a></td>
                            <td width="3%"><a href="{% url 'department-delete' el.id %}"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                {% endfor %}
    {% else %}
            <span>No data</span>
     {% endif %}
        </table>
</div>
{% endblock %}